/* BASE RESET */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Segoe UI', sans-serif; }
body { 
  background: #f0f0f0; 
  color: #222; 
  transition: 0.3s; 
  font-size: 14px;
}

.container { display: flex; min-height: 100vh; }

/* SIDEBAR */
.sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  background: #fff;
  padding: 20px;
  border-radius: 15px 0 0 15px;
  box-shadow: 3px 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

body.dark .sidebar { background: #2c2c2c; color: #f1f1f1; }

.profile-card { text-align: center; }

.profile-pic {
  width: 120px; height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #007bff;
}
.sidebar button {
  padding: 10px 15px;
  font-size: larger;
  font-weight: bold;
  border: none; border-radius: 12px;
  cursor: pointer; background: #007bff;
  color: #fff; font-size: 14px;
  transition: 0.3s;
}
.sidebar button:hover { background: #0056b3; }

/* MAIN CONTENT */
.main-content { 
  /*flex: 1; padding: 30px; 
  display: flex; 
  flex-direction: column; 
  gap: 40px; */
  margin-left: 200px;
}

/* LINKS / CARDS */
.links-section h2 { margin-bottom: 20px; }
.cards-container {
  display: flex; flex-wrap: wrap; gap: 20px;
}
.link-card {
  background: #fff; padding: 15px; width: 150px;
  border-radius: 15px; text-align: center; cursor: pointer;
  transition: 0.3s; box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
body.dark .link-card { background: #3a3a3a; color: #f1f1f1; }
.link-card img { width: 60px; height: 60px; margin-bottom: 10px; }
.link-card p { font-weight: bold; }
.link-card:hover { transform: translateY(-5px); box-shadow: 0 8px 20px rgba(0,0,0,0.2); }

/* DARK MODE */
body.dark { background: #121212; color: #f1f1f1; }

h2 {
  font-size: 10px;
}
